.mt-5 {
    margin-top: 3rem !important;
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
  }
  
  h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  p.lead {
    font-size: 1.2rem;
    color: #6c757d;
  }
  .card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
    color: #007bff;
  }
  
  .table {
    background-color: #f8f9fa;
  }
  
  .table th {
    background-color: #007bff;
    color: white;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  h2 {
    margin-top: 20px;
    color: #343a40;
  }
  